version: '3.3'
services:
  transcriber:
    build: .
    restart: always

    command: bash -c "gunicorn application:app --bind :8080 --keyfile /ssl/ssl.key --certfile /ssl/ssl.crt --log-level debug"

    volumes:
      - ./application:/application
      - ./config:/config
      - ./ssl/:/ssl/

    environment:
      - ALVEO_API_KEY=
      - ALVEO_API_URL=https://staging.alveo.edu.au/
      #- ALVEO_API_URL=https://www.alveo.edu.au/
      
    ports:
      - "8080:8080"
